<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
   <title>Skobee: Allowed HTML</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
body {
   background: #F7D24C;
   padding-top: 10px;
   padding-bottom: 20px;
   text-align: center;
}

p { font: 12px Arial, Helvetica, sans-serif; }

h1 {
   font: normal 20px Arial, Helvetica, sans-serif;
   color: #000000;
   margin-top: 0px;
}

#Main {
   margin-right: auto;
   margin-left: auto;
   background: #FFFFFF;
   width: 90%;
   border-top: 1px solid #999999;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #999999;
   text-align: left;
   padding: 15px;
   vertical-align: top;
}

a:link { color: #0063DC; text-decoration: underline; }
a:visited { color: #0259C4; text-decoration: underline; }
a:hover { color: #FFFFFF; text-decoration: none; background: #0063DC; }
a:active { color: #FFFFFF; text-decoration: none; background: #0259C4; }

</style>
</head>
<body>
   <div id="Main">
     <h1>Add some sizzle with HTML</h1>
     <p>Here's the list of available HTML tags:</p>
      <table cellspacing="0" cellpadding="2" border="1" style="font: 12px Arial, Helvetica, sans-serif;" summary="allowed html tags">
      <tr>
         <th>tag</th>
         <th>attrib</th>
         <th>how you use it</th>
         <th>result</th>
      </tr>
      <tr>
         <td>a</td>
         <td>href</td>
         <td nowrap>&lt;a href=&quot;http://www.skobee.com&quot;&gt;skobee.com&lt;/a&gt;</td>
         <td><a href="http://www.skobee.com">skobee.com</a></td>
      </tr>
      <tr>
         <td>b</td>
         <td>none</td>
         <td>&lt;b&gt;skobee rocks&lt;/b&gt;</td>
         <td><b>skobee rocks</b></td>
      </tr>
      <tr>
         <td>i</td>
         <td>none</td>
         <td>&lt;i&gt;skobee rocks&lt;/i&gt;</td>
         <td><i>skobee rocks</i></td>
      </tr>
      <tr>
         <td>img</td>
         <td>'src', 'width', 'height', 'alt', 'title'</td>
         <td nowrap>&lt;img src=&quot;http://www.skobee.com/images/logo.gif&quot;/&gt;</td>
         <td><img src="http://www.skobee.com/images/logo.gif"/></td>
      </tr>
      <tr>
         <td>u</td>
         <td>none</td>
         <td>&lt;u&gt;skobee rocks&lt;/u&gt;</td>
         <td><u>skobee rocks</u></td>
      </tr>
      </table>

      <p>&raquo; <a href="javascript:window.close();">Close this window</a></p>
   </div>
</body>
</html>