Dear <%= h @name %>,<br>
<br>
At your request, <a href='<%= h @url %>'><%= h @app_name %></a> has changed your password. If it was not at your request, then you should be aware that someone has access to your account and requested this change.<br>
