Hey there,<br/>
<br/>
Looks like you're trying to add a new email address to your Skobee account "<%= h @login %>". <br/>
Click the link below to confirm this new email address.<br/>
<br/>
Confirm: <a href='<%= h @url%>'><%= h @url%></a><br>
<br/>
Thanks,<br/>
The Skobeeites
