Forgot your password?<br/>
<br/>
Click the link below to reset the password associated with your Skobee account.<br/>
Reset: <a href="<%= h @url%>"><%= h @url%></a>
<br/><br/>
Thanks,<br/>
The Skobeeites