Hey there,

Looks like you're trying to add a new email address to your Skobee account. Please note, this email address is already associated with another Skobee account. This probably happened when a friend of yours invited you to a new plan using this email address.

If you confirm this email address, all of the plans associated will merge to your primary account and we will delete the old account associated with this address. 

Confirm: <%= @url%>

Thanks,
The Skobeeites