<%= @change_owner.display_name %> made a comment<%= @comment_type %>:

<%= @comment_plain %>

Check out the full details here:
<%= @plan_details_link %>
________________________________________________________________________________
Too many emails from Skobee? Click here to change your notification settings:
<%= @change_notifications %>