<%= @modifying_user.display_name %> made a comment on your profile:

<%= @comment_plain %>

Check out all comments here:
<%= @profile_link %>
________________________________________________________________________________
Too many emails from Skobee? Click here to change your notification settings:
<%= @change_notifications %>