<div class="section grey grey_middle">
   <h3>Changed Your Mind?</h3>
   <div class="error">If you've rejected a plan, you can always change your mind and get back in on the action. Just click "I'll Be There."</div>
</div>

<div class="section grey">
   <h3>The Party Never Stops</h3>
   <div class="error">In the future, we're gonna bring past plans to life. Pictures, recaps, gossip...you get the idea. You're gonna love it!</div>
</div>