<% 
hvr = sidebar_hover_str(@sidebar_number)
class_str, sidebar_dummy = get_sidebar_class(0)
  -%>  
<div id="sidebar_users_stub" class="<%= class_str %>" style="display:none;">
  <h3>Loading...</h3>
</div>