<div class="section grey">
   <h3>Skobee Snacks</h3>
   <div class="error">
      <ul>
         <li class="privacy">By default, your plans are available to other Skobee users. If you're worried about sharing your dinner plans with other Skobees, <%= link_to "click here to set your privacy to friends only.", :controller=>'users', :action=>'edit_privacy' %></li>
         <li class="addingplaces">We're adding new places to Skobee all the time. If the place you're looking for is not available, <%= link_to "please click here to help us out and add the place.", :controller=>'places', :action=>'new'%></li>
      </ul>
   </div>
</div>