<div class="section grey">
   <h3>
      Corporate Schtuff
   </h3>
   <dl class="common help_nav">
      <dt><a href="/about">About Skobee</a></dt>
      <dt><a href="/jobs">Jobs</a></dt>
      <dt><a href="/terms_of_use">Terms of Use</a></dt>
      <dt><a href="/privacy">Privacy Statement</a></dt>
      <dt><a href="mailto:feedback@skobee.com">Contact Us</a></dt>
   </dl>
</div>