Hey there,

Looks like you're trying to add a new email address to your Skobee account "<%= @login %>". 
Click the link below to confirm this new email address.

Confirm: <%= @url%>

Thanks,
The Skobeeites