<%= h @user_adding_friend.display_name %> has recently added you as a contact.<br/>
<br/>
If you haven't already done so, you may click below to add <%= h @user_adding_friend.display_name %> to your contacts:<br/>
<a href='<%= h @adding_user_planner_show_url %>'><%= h @adding_user_planner_show_url %></a><br/><br/>
________________________________________________________________________________<br/>
<i>Too many emails from Skobee? <a href="<%= h @change_notifications %>">Change your notification settings.</a></i>