<%= @user_adding_friend.display_name %> has recently added you as a contact.

If you haven't already done so, you may click below to add <%= @user_adding_friend.display_name %> to your contacts:
<%= @adding_user_planner_show_url %>

________________________________________________________________________________
Too many emails from Skobee? Click here to change your notification settings: 
<%= @change_notifications %>