Hey there,
<br/><br/>
<%= h(@main_body) %>
<br/><br/>
<a href='<%= h @register_link %>'>Click here to set up your Skobee account.</a>

<br/><br/>
Signing up only takes a minute.
<br/><br/>
We should hang out soon...
<br/><br/>
-<%= h(@inviter.full_name)%>