<%= h @change_owner.display_name %> made a comment<%= @comment_type %>:<br/><br/>

<%= @comment_html_encoded %><br/><br/>

<b>Check out the full details here:</b><br/>
<a href='<%= h @plan_details_link %>'><%= h @plan_details_link %></a>.<br/><br/>

________________________________________________________________________________<br/>
<i>Too many emails from Skobee? <a href="<%= h @change_notifications %>">Click here to change your notification settings</a></i>