<div id="banner">
   <h2>
   </h2>

</div>

<div id="container">
   <div id="content" class="">
   <%=render(:partial=>"/shared/flash")%>
   <div class="error">Your settings have been saved.</div>
   </div>
</div>
<span id="<%=h @plan_template %>"></span>
